#player1,
#player2 {
  margin-bottom: 2rem;
}
.cell {
  border: 1px solid black;
  padding: 0.5rem;
  cursor: pointer;
  height: 1rem;
}
.cell:hover {
  background-color: #eee;
}
.cellGroup {
  display: flex;
}
.cellGroup div {
  flex: 1;
}
.ship {
  background-color: gray;
  color: white;
  text-align: center;
}
.hit {
  background-color: red;
  color: white;
}
.miss {
  background-color: lightblue;
}
